<div class="container">
    <div class="row">

        <div class="col-6 mx-auto">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)" novalidate>

                <div class="form-group">
                    <label for="">Titulo</label>
                    <input type="text" name="titulo" class="form-control" formControlName="titulo">
                    <!-- escribir aqui lo mismo que en name-->
                </div>
                <div class="form-group">
                    <label for="">Texto</label>
                    <input type="text" name="texto" class="form-control" formControlName="texto">
                    <!-- escribir aqui lo mismo que en name-->
                </div>
                <div class="form-group">
                    <label for="">autor</label>
                    <input type="text" name="autor" class="form-control" formControlName="autor">
                    <!-- escribir aqui lo mismo que en name-->
                </div>
                <div class="form-group">
                    <label for="">imagen</label>
                    <input type="image" name="imagen" class="form-control" formControlName="imagen">
                    <!-- escribir aqui lo mismo que en name-->
                </div>
                <div class="form-group">
                    <label for="">fecha</label>
                    <input type="text" name="fecha" class="form-control" formControlName="fecha">
                    <!-- escribir aqui lo mismo que en name-->
                </div>
                <div class="form-group">
                    <label for="">Categoria</label>
                    <input type="text" name="categoria" class="form-control" formControlName="categoria">
                    <!-- escribir aqui lo mismo que en name-->
                </div>


                <button type="submit" class="btn btn-block btn-success">Enviar el formulario</button>
                <button class="btn btn-secondary" routerLink="/blog">Ir al Blog</button>
            </form>
        </div>
    </div>
</div>